*.pyc
*.sqlite3
src/crawler/comp_guide_html/*
src/crawler/comp_guide_json/*
src/package/qi.egg-info/*
src/package/build/*
src/package/dist/*
build/server/main/*.tar.gz
*.log
qi/dist/*
qi/qi.egg-info/*
