{% extends "app/layout.html" %}

{% block content %}
<style>
.stock_form input[type="text"]{
    width:120px;
}
</style>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="{% static 'app/scripts/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="{% static 'app/scripts/stock.js' %}"></script>
<script>

</script>
<div class="row">
    <div class="col-md-12">
        <h2>종목추천</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">2018 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">2016</a></li>
                            <li><a href="#">2017</a></li>
                            <li><a href="#">2018</a></li>
                        </ul>
                    </li>
                </ul>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">KOSPI <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">KOSPI</a></li>
                        <li><a href="#">KOSDAQ</a></li>
                    </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                    <input type="text" class="form-control" placeholder="최소 시가 총액">
                    </div>
                    <div class="form-group">
                    <input type="text" class="form-control" placeholder="종목 수">
                    </div>
                    <button type="submit" class="btn btn-primary">새로고침</button>
                </form>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="stock_tbl" class="display">
            <thead>
                <tr>
                    <th>종합순위</th>
                    <th>종목명(종목코드)</th>
                    <th>ROA(순위)</th>
                    <th>PER(순위)</th>
                    <th>ROE</th>
                    <th>PBR</th>
                    <th>EV/EBITDA</th>
                    <th>거래가</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
