{% for item in res%}
<div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <h5><span>{{ item.comp_name }}({{ item.code }})</span></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <label for="country">보유기간 : {{item.hold}} 개월 </label>
        </div>
        <div class="col-md-6 mb-3">
            <p>전체기간 : {{ item.period }}개월 ({{ item.total.buy.date }} ~ {{ item.total.sell.date }})</p>
        </div>
        <div class="col-md-2 mb-3">
            <button type="button" class="btn btn-danger" onclick="er_delete({{ item.id }});">삭제</button>
        </div>
    </div>
    {% if item.error %}
    <div class="alert alert-danger" role="alert"> <strong>!</strong> 기간설정 오류 </div>
    {% else %}
    <div class="row">
        <div class="col-md-12 mb-3">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                    <th>기간</th>
                    <th>날짜</th>
                    <th>매수 거래가</th>
                    <th>매도 거래가</th>
                    <th>기간 수익율(비율)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in item.er_list %}
                    <tr>
                        <td>P{{forloop.counter}}</td>
                        <td>{{ p.buy.date }} ~ {{ p.sell.date }}</td>
                        <td><span>{{ p.buy.price }}</span></td>
                        <td><span>{{ p.sell.price }}</span></td>
                        <td><span>{{ p.earning_ratio|floatformat:-2 }} %</span></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>평균</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td><span>{{ item.avg_er|floatformat:-2 }} %</span></td>
                    </tr>
                    <tr>
                        <td>전체기간</td>
                        <td>{{ item.total.buy.date }} ~ {{ item.total.sell.date }}</td>
                        <td><span>{{ item.total.buy.price }}</span></td>
                        <td><span>{{ item.total.sell.price }}</span></td>
                        <td><span>{{ item.total.earning_ratio|floatformat:-2 }} %</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</div>
{% endfor %}